body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header-section {
    margin: 0px 24px;
    padding: 10px 0px;

}

.fixed {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
    background-color: white;
}

.search {

    display: flex;
    height: 100%;
    --search-box-radius: 22px;
    user-select: none;
    --elevation: 4;
    border-radius: 22px;
    transition: none 0s ease 0s;
    position: relative;
    overflow: hidden;
    background: #ffffff;
    box-shadow: 0 0 calc((var(--elevation) * 0.225px) + 2px) rgba(0, 0, 0, calc(.11 * (2 - var(--background-luminance, 1)))), 0 calc(var(--elevation) * 0.4px) calc((var(--elevation) * 0.9px)) rgba(0, 0, 0, calc(.13 * (2 - var(--background-luminance, 1))));
    width: 760px;
    height: 46px;
}

.control {
    border-radius: unset;
    padding-inline: 16px 8px !important;
    padding-right: 22px !important;
    padding-left: 22px !important;
    border: none;
    background-color: transparent;

}

.control2 {
    border-radius: unset;
    padding-inline: 16px 8px !important;
    padding-right: 10px !important;
    padding-left: 10px !important;
    border: none;
    background-color: transparent;

}

.search #q {
    appearance: none;
    outline: none;
    background: transparent;
    margin-top: auto;
    margin-bottom: auto;
    border: none;
    padding: calc(4 * 2px + 2px) 12px calc(4 * 2px + 2px) 12px;
    color: #2b2b2b;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    width: 100%;
    font-family: inherit;
    flex: 1 1 0%;
    padding-inline-start: 16px;

}

.sign-out {

    border: 1px solid rgba(0, 0, 0, 0.18);
    height: 38px;
    box-sizing: border-box;
    padding-top: 8px;
    padding-bottom: 8px;
    min-width: 80px;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.7);
    color: rgba(0, 0, 0, 0.74);
    -webkit-text-fill-color: rgba(0, 0, 0, 0.74);

}


.show,.show2 {
    display: none;
}

.list {
    height: auto;
    overflow: hidden;
    list-style: none;
    padding-inline: 0px 15px;
    margin: 0px;
    display: inline-flex;
    align-items: center;
}

.list li {
    list-style: none;
    padding: 0px 16px;
    display: flex;
    cursor: pointer;
    transition: .3s;
}
.list li:hover{
    text-decoration: underline;
}

.settings-link {
    border: 1px solid #bebebe;
    border-radius: 100px;
    padding: 10px;
    margin: 0px;
    margin-inline-start: 15px;
    font-size: 14px;
    line-height: 20px;
    cursor: pointer;
    color: #2b2b2b;
    fill: #2b2b2b;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.consumption-page-banner-wrapper {
    /* position: sticky; */
    width: 100%;
    z-index: 300;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    margin-bottom: 4px;
    top: 119px;
    background-color: #FFFFFF;
}


.separate-buttons {
    display: flex;
    flex-direction: column;

    list-style-type: none;
    margin: 16px -2px -2px;
    padding: 2px;
    transition: all 0.5s ease 0s;

}


.at-item {
    height: 40px;
    width: 40px;
    margin: 8px 0px;
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 0px 2px 0px, rgba(0, 0, 0, 0.14) 0px 2px 4px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
}
.count-badge {
    position: absolute;
    top: -10px;
    right: -35%;
    background: #0078d4;
    width: max-content;
    min-width: 10px;
    border-radius: 16px;
    padding: 4px 6px;
    color: #fff;
    position: absolute;
    text-align: center;
    font-size: 10px;
}




.newProviderBannerContainer{
    background-color: #fafafa;
    padding: 20px;
    border-radius: 8px;
    outline: rgba(0, 0, 0, 0.06) solid 1px;
}
.providerNameSm {
    color: #2b2b2b;
    font-size: 16px;
    line-height: 22px;
    margin: 0px 8px;
    font-weight: 600;
    word-break: keep-all;
}
.black {
    border: 1px solid rgb(41, 41, 41);
    color: white;
    border-radius: 4px;
    height: 24px;
    font-size: 12px;
    font-weight: 400;
    padding: 0px 12px;
    background-color: rgb(41, 41, 41);

}
.follow-text {
    font-size: 12px;
    line-height: 16px;
    font-weight: 700;
    color: rgb(36, 36, 36);
}

.follower-text {
    font-weight: 600;
    opacity: 0.7;
}

.divider {
    border-left: 1px solid rgba(36, 36, 36, 0.15);
    height: 24px;
    margin-inline: 16px 11px;
}

.share {
    background-color: transparent;
    border: none;
}


.gradientBackground .viewsHeader h1 {
    font-size:32px;
    font-weight: 600;
    padding-top: 12px;
    padding-bottom: 0px;
    color: #2b2b2b;
}
.gradientBackground .content {
    text-align: start;
}

.gradientBackground .viewsAttribution {
    margin: 14px 0px 22px;
    opacity: 0.8;
    padding-bottom: 0px;
}
.gradientBackground .viewsAttribution {
    margin: 14px 0px 22px;
    opacity: 0.8;
    padding-bottom: 0px;
}

.readTimeInfo {
    color: rgb(19, 161, 14);
    background: url("../images/ClockLight.svg") left center no-repeat;
    padding-inline-start: 24px;
    margin-inline-start: 4px;
    pointer-events: none;
    display: inline-block;
}


.image-caption-container {
    display: flex;
    font-size: 12px;
    line-height: 16px;
    padding: 12px 16px 8px 24px;
    flex-flow: column;
    position: relative;
}

.image-caption-container::before {
    position: absolute;
    display: inline-block;
    height: 11px;
    width: 11px;
    border-left: 1px solid rgb(0, 120, 212);
    border-bottom: 1px solid rgb(0, 120, 212);
    left: -1px;
    content: "";
}
.articlewc-image-caption-container::before {
    left: 0px;
}
.image-attribution {
    padding-bottom: 4px;
    opacity: 0.65;
}

.article-body p {
    font-size: 17px;
    text-align: start;
    line-height: 26px;
    margin: 0px;
    color: #2b2b2b;
}
.article-sub-heading {
    font-family: "Eb Garamond";
    font-size: 30px;
    font-weight: 500;
    margin-top: 48px;
    margin-bottom: 24px;
    line-height: 38px;
    position: relative;
    color: #2b2b2b;
}
.article-sub-heading::before {
    content: "";
    position: absolute;
    width: 48px;
    height: 4px;
    left: 0px;
    right: 0px;
    top: -14px;
    background: #0078d4;
}
.btnn button{
    background-color: #0078d4;
    border-radius: 20px;
    font-size: 16px;
    height: 40px;
    box-shadow: rgba(0, 0, 0, 0.13) 0px 1.6px 3.6px, rgba(0, 0, 0, 0.11) 0px 0px 2.9px;
    width: 250px;
    margin: auto;
    color: white;
    border: none;
}

.borderRright{
    border-right: 1px solid rgba(0, 0, 0, 0.18);
}

.fluent-card {
    display: block;
    border: 1px solid rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    min-height: 268px;
    box-shadow: none;
    background: #F7F7F7;
   
    margin: 60px auto ;
}
.padTop{
    padding-top: 60px;
}

.titlee{ 
        margin: 16px 16px 0px;
        align-items: center;
        display: flex;
        font-size: 14px;
        line-height: 20px;
        font-weight: 600;
        color: #757575;
        font-family: "Segoe UI", Roboto, Arial, Sans-sarif;
        text-transform: capitalize;
    
}
.title-span {
    color: rgb(3, 106, 196);
    text-decoration: none;
  font-size: 10px;
        font-weight: 600;
        margin-inline: 10px auto;
        writing-mode: horizontal-tb;
  
}
  .go-partner-site-svg {
    width: 16px;
    height: 16px;
    display: inline-block;
    background: url("../images/GoToPartnerSite.svg") center center no-repeat;
}

.items-container {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    margin: 12px 16px 22px;
    padding: 16px 16px 0px;
    min-height: 176px;
    display: flex;
    flex-direction: column;
}
.items-container a{
    margin-bottom: 12px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);
    font-size: 16px;
    color: #2b2b2b;
    text-decoration: none;
    border-bottom:1px solid rgba(0, 0, 0, 0.18) ;
    padding-bottom :5px ;
}
.items-container a:hover{
    text-decoration: underline;
}
.container-custom{
    padding: 0px 80px;
}


.dropdown-menus {
    display: none;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2.4px 7.2px, rgba(0, 0, 0, 0.22) 0px 12.8px 28.8px;
    width: 240px;
    position: absolute;
    top: 45px;
    left: 0;
    background-color: white;
}

.dropdown-menus.show-dropdown {
    display: block;
}

.dropdown-menus ul {
    list-style: none;
    text-align: center;
    padding: 0px;
}

.dropdown-menus ul li {
    padding: 5px 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);
    transition: .3s;
}

.dropdown-menus ul li:hover {
    background-color: #f2f2f2;
}


.dropdown-share{
    border:  1px solid transparent;
    top: -50px;
    left: 50px;
        position: absolute;
        background: white;
        overflow: hidden auto;
        border-radius: 6px;
        box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 21.38px, rgba(0, 0, 0, 0.19) 0px 32px 64px;
        width: 352px;
        max-height: calc(-216px + 100vh);
        min-height: 120px;
        transition: all 0.4s ease 0s;
        z-index: 999;
        display: none;
}
.dropdown-share.open {
    display: block; /* Show the dropdown when open class is applied */
}
.containers-top{
    padding: 8px 16px 16px;
}

.shareBar{
    display: flex;
    justify-content: space-between;
}
.share label{
    font-size: 14px;
    font-weight: 600;
    align-self: center;
    color: #2b2b2b;
}
.close {
    content: "close";
    cursor: pointer;
    width: 32px;
    height: 32px;
    border: none;
    padding: 0px;
    margin-right: -4px;
    border-radius: 50%;
    background: transparent;
    transition-duration: 0.4s;
}

.share.header {
    display: flex;
    justify-content: space-evenly;
    margin-top: 4px;
}

.share.header-title {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-right: 12px;
}
.share.header-attribution {
    font-size: 12px;
    font-weight: 400;
    color: rgb(95, 95, 95);
}
.share.header-abstract {
    font-size: 14px;
    font-weight: 600;
    margin-top: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}
.hrr {
    margin: 0px;
    border-width: 1px 0px 0px;
    border-right-style: initial;
    border-bottom-style: initial;
    border-left-style: initial;
    border-right-color: initial;
    border-bottom-color: initial;
    border-left-color: initial;
    border-image: initial;
    border-top-style: solid;
    border-top-color: rgb(191, 191, 191);
    
}
.container.bottom {
    padding: 16px;
  
}
.qr-header {
    display: flex;
    align-items: center;
    padding: 12px;
    background-color: #F7F7F7;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.12);
}
.qr-label {
    flex: 1 1 0%;
    margin: 0px 12px;
    cursor: pointer;
    text-align: start;
}

.share.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.share.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 96px;
    gap: 4px;
}
.share.item label {
    font-size: 12px;
    font-weight: 400;
    white-space: nowrap;
}
 
.slider-text{
    position: absolute;
    width: 100%;
    z-index: 33;
    bottom: 67px;
    color: white;

}
.slider-actions{
    position: absolute;
    bottom: 4px;
    color: white !important;
    fill: #fff !important;
}
.slick-list{
    height: 100% !;
}

.slick-slider,.slick-list,.slick-track{
    height: 100% !important;
}

.slick-dots{
    bottom: 14px !important;
    background-color: rgba(0, 0, 0, 0.72) !important;
    padding: 0px 6px !important;
    border-radius: 9px !important;
    min-width: 52px !important;
    width: auto !important;
    margin: auto !important;
    left: 50% !important;
    height: 14px !important;
    display: flex !important;
    align-items: center !important;

}
.slick-dots li button:before{
    color: rgba(255, 255, 255, 0.42) !important;
}
.slick-dots li button{
    height: 14px !important;
    width: 8px !important;
}

.slick-dots li.slick-active button{
    width: 20px !important;
}

.slick-dots li{
    margin:  0px;
}

/* Show both icons on hover */
.card-outer:hover .slick-prev,
.card-outer:hover .slick-next {
    display: block !important;
}

/* Adjust position of previous icon */
.slick-prev {
    left: 10px !important;
}

/* Adjust position of next icon */
.slick-next {
    right: 10px !important;
}

/* Hide icons by default */
.slick-prev,
.slick-next {
    z-index: 99;
    display: none !important;
}





.image-container {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
}

.card-image {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.image-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5), transparent);
    border-radius: 10px;
    pointer-events: none; /* Ensures the gradient does not interfere with interactions */
}



.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* semi-transparent black */
    display: none; /* hidden by default */
    z-index: 1; /* ensure overlay is above other content */
    border-radius: 10px;  
}
.card-outer:hover .overlay {
    display: block; /* show overlay on hover */
}

.consumption-page-river-heading {
    margin: 0px auto;
    color: #2b2b2b;
    font-size: 20px;
    font-weight: bold;
   
    padding: 20px 0px;
}

.card-outer{
    border-radius: 10px;
    box-shadow: 0 0 0 calc(1 * 1px) rgba(0,0,0,0.0578),0px 2px 4px rgba(0,0,0,0.04);
    background-color: #cfd8e4;
    height: 100%;
    cursor: pointer;
    transition: .3s;
}
.card-outer:hover{
    box-shadow: 0px 4px 24px rgba(0,0,0,0.14);
    transition: .3s;
}


  .card-views-indicator {
    
    width: 20px;
    height: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    
}

.top-body{
    top: 14px;
    position: absolute;
   
    width: 100%;
    padding: 0px 10px;
}

.hidden-card {
    position: relative;
    z-index: 2;
}


.card-hide {
    border-radius: 32px;
    fill: currentcolor;
    height: 32px;
    gap: 4px;
    justify-content: flex-start;
    margin-top: -8px;
    min-width: 32px;
    overflow: hidden;
    padding: 0px 7px;
    transition: z-index 0s ease-out 0.3s;
     border: none;
     margin-right: 5px;
     transition: .3s;

}
.hidden-card{
    display: none;
}

.card-outer:hover .hidden-card {
    display:  flex; /* or block, depending on the desired layout */
}

.text-content{
    padding: 16px 16px 0 16px;
}
.provider-name{
    font-size: 12px;
    color: #000;
}
.card-title{
    font-size: 20px;
    line-height: 22px;
    font-weight: 600;
}
.action-tray.preload{
    padding: 4px 16px 10px 16px;
}

.liking{
    border: none;
    background-color: transparent;
}
.dis-liking, .message{
    border: none;
    background-color: transparent;
}
.binary-reactions-count {
    font-size: 12px;
    margin-inline-start: 4px;
}

@media(min-width:1024px){
    .fluent-card {
        display: block;
        border: 1px solid rgba(0, 0, 0, 0.06);
        border-radius: 8px;
        min-height: 268px;
        box-shadow: none;
        background: #F7F7F7;
        max-width: 330px;
        margin: 60px  auto;
    }
}


@media(max-width:800px) {
    .hidden {
        display: none !important;
    }

    .show {
        display: block;
    }
    .show2 {
        display: flex;
        margin-top: 15px;
    }
    .search {
        width: 100%;
    }
    .borderRright{
        border-right: none;
    }
    .topMa{
        margin-top: 20px;
    }
}
@media(max-width:500px){
    .container-custom{
        padding: 0px 0;
    }
    .gradientBackground .viewsHeader h1 {
        font-size: 24px;
        padding-top: 8px;
        padding-bottom: 3px;
    }
    .between{
        justify-content: space-between;
    }
    .fluent-card {
        display: block;
        border: 1px solid rgba(0, 0, 0, 0.06);
        border-radius: 8px;
        min-height: 268px;
        box-shadow: none;
        background: #F7F7F7;
        max-width: 100%;
        margin: auto;
    }
    .padTop{
        padding-top: 0;
    }
    
}